body
{
    text-align: center;
    background-color: darkturquoise;
    color: black;
    font-weight: bolder;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}